<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách tài khoản</title>
    <link type="text/css" href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="../bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="../css/theme.css" rel="stylesheet">
    <link type="text/css" href="../img/icons/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
          rel='stylesheet'>
</head>
<body>


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i></a><a class="brand" href="index">PH09235 </a>
            <div class="nav-collapse collapse navbar-inverse-collapse">
                <ul class="nav nav-icons">
                    <li class="active"><a href="#"><i class="icon-envelope"></i></a></li>
                    <li><a href="#"><i class="icon-eye-open"></i></a></li>
                    <li><a href="#"><i class="icon-bar-chart"></i></a></li>
                </ul>
                <form class="navbar-search pull-left input-append" action="#">
                    <input type="text" class="span3">
                    <button class="btn" type="button">
                        <i class="icon-search"></i>
                    </button>
                </form>
                <ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Kéo xuống
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Item No. 1</a></li>
                            <li><a href="#">Don't Click</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Example Header</li>
                            <li><a href="#">A Separated link</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Trợ giúp </a></li>
                    <li class="nav-user dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../img/user1.png" class="nav-avatar"/>
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Tài khoản</a></li>
                            <li><a href="#">Chỉnh sửa trang cá nhân</a></li>
                            <li><a href="#">Cài đặt</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="sidebar">
                    <ul class="widget widget-menu unstyled">
                        <li class="active"><a href="/admin/index"><i class="menu-icon icon-dashboard"></i>Trang chủ
                        </a></li>
                        <li><a href="#"><i class="menu-icon icon-bullhorn"></i>Bản tin </a>
                        </li>
                        <li><a href="/admin/mail"><i class="menu-icon icon-inbox"></i>Hộp thư <b class="label green pull-right">
                            11</b> </a></li>
                        <li><a href="/admin/hoadon"><i class="menu-icon icon-tasks"></i>Hóa đơn <b class="label orange pull-right">
                            19</b> </a></li>
                    </ul>
                    <!--/.widget-nav-->


                    <ul class="widget widget-menu unstyled">
                        <li><a href="/admin/themsanpham"><i class="menu-icon icon-bold"></i> Thêm điện thoại </a></li>
                        <li><a href="/admin/danhsachsanpham"><i class="menu-icon icon-book"></i>Danh sách điện thoại </a></li>
                        <li><a href="/admin/themloaisp"><i class="menu-icon icon-paste"></i>Thêm hãng điện thoại </a></li>
                        <li><a href="/admin/danhsachloaisp"><i class="menu-icon icon-table"></i>Danh sách hãng điện thoại </a></li>
                        <li><a href="#"><i class="menu-icon icon-bar-chart"></i>Doanh thu </a></li>
                    </ul>
                    <!--/.widget-nav-->
                    <ul class="widget widget-menu unstyled">
                        <li><a class="collapsed" data-toggle="collapse" href="#togglePages"><i
                                class="menu-icon icon-cog">
                        </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                        </i>Tài khoản </a>
                            <ul id="togglePages" class="collapse unstyled">
                                <li><a href="/admin/themtaikhoan"><i class="icon-inbox"></i>Thêm tài khoản </a></li>
                                <li><a href="/admin/danhsachcttaikhoan"><i class="icon-inbox"></i>Thông tin cá nhân tài khoản</a></li>
                                <li><a href="/admin/danhsachtaikhoan"><i class="icon-inbox"></i>Danh sách tài khoản </a></li>
                            </ul>
                        </li>
                        <li><a href="/logout"><i class="menu-icon icon-signout"></i>Thoát </a></li>
                    </ul>
                </div>
                <!--/.sidebar-->
            </div>
            <!--/.span3-->
            <div class="span9">
                <div class="content">
                    <div class="module">
                        <div class="module-head">
                            <h3>
                                Danh sách tài khoản</h3>
                        </div>
                        <div class="alert"  th:if="${successMessage}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <strong th:text="${successMessage}"></strong>
                        </div>
                        <div class="module-option clearfix">
                            <form class="form-inline" action="#" th:action="@{/admin/searchTK}" method="get">
                                <input class="form-control mr-sm-2" type="search" name="term"
                                       placeholder="Tìm kiếm tên tài khoản ..."/>
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i> Search
                                </button>
                            </form>


                        </div>
                        <div class="module-body">


                            <a th:href="@{/admin/themtaikhoan}" class="btn btn-success pull-left">
                                <span class="glyphicon glyphicon-plus"></span> Thêm tài khoản mới
                            </a>
                                <th:block th:if="${#lists.isEmpty(listtaikhoan)}">
                                    <h5>Không có thông tin</h5>
                                </th:block>

                                <th:block th:unless="${#lists.isEmpty(listtaikhoan)}">
                                    <table style="font-size: 12px" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Mã tài khoản</th>
                                            <th>Mật khẩu</th>
                                            <th>Vai trò</th>
                                            <th width="20%">Chức năng</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="taikhoan,iterStat : ${listtaikhoan}">
                                            <th scope="row" th:text="${iterStat.count}"></th>
                                            <td th:text="${taikhoan.getId()}"></td>
                                            <td th:text="${taikhoan.getMatkhau()}"></td>
                                            <td th:if="${taikhoan.isVaitro()} == true">Quản lý</td>
                                            <td th:if="${taikhoan.isVaitro()} == false">Khách hàng</td>
                                            <td>

                                                <a th:href="@{/admin/editTK?id={id}(id=${taikhoan.id})}"
                                                   class="btn btn-primary">Sửa</a>
                                                <a th:href="@{/admin/deleteTK?id={id}(id=${taikhoan.id})}"
                                                   class="btn btn-danger">Xóa</a>

                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </th:block>

                        </div>
                    </div>
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->
<div class="footer">
    <div class="container">
        <b class="copyright">&copy; 2020 PH09235 - ShopWeb.com </b>All rights reserved.
    </div>
</div>
<script src="../js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="../js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/datatables/jquery.dataTables.js" type="text/javascript"></script>
</body>
